@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

html {
    font-family: Inconsolata, 'Courier New', Courier, monospace;
    font-weight: 400;
    color: rgb(80,80,80);
}

#wrapper {
    position: relative;
    min-height: 90vh;
}

#header {
    font-size: 2.25rem;
    font-weight: 600;
    width: fit-content;
    margin: 2rem auto;
    text-decoration: underline;
}

#nav {
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
}

#nav div {
    margin: 1rem 4rem;
}

#nav div:hover {
    cursor: pointer;
    text-decoration: underline;
}

.about {
    width: 30rem;
    text-align: center;
    line-height: 175%;
}

.contact div {
    display: flex;
    margin: 0.5rem;
    justify-content: center;
}

#content {
    margin: 2rem;
    display: flex;
    justify-content: center;
}

.section-header {
    margin: 1rem auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
}

.divider, .label {
    margin: 0 1rem;
}

.dish-grid {
    margin-bottom: 3rem;
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
}

.dish {
    width: 16rem;
    margin: 1rem;
}

.dish-name, .dish-description {
    text-align: center;
    margin: 0.5rem;
}

.dish-name {

}

.dish-description {
    font-size: 1rem;
    font-weight: 200;
}


#footer {
    font-size: .9rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#background {
    z-index: -1;
    position: fixed;
    font-size: 14rem;
    width: 940rem;
    top: -200rem;
    left: -200rem;
    transform: rotate(-45deg);
    color: rgb(245, 245, 245);
}
